//BUTTONS

.btn{
    display: block;
    width: 10rem;
    height: min-content;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 100%;
    background-color: $color-tirtiary;
    color: $color-primary;
    text-transform: uppercase;
    text-align: center;
    transition: all .15s;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: $shadow;  

    &:hover,
    &:active{
        background-color: $color-primary;
        color: $color-tirtiary;      
        
    }
    &:active{
        transform: scale(.9);
        box-shadow: none;
    }
    // &:link{
    //     background-color: $color-primary;
    //     color: $color-tirtiary;
    // }
}