//Form

.contact{
    grid-column: 2 / 12;
    grid-row: 15;

    @include for-size(phone-only){
        grid-column: 1;
        grid-row: 6;
        display: block;
    }

    &__header{        
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include for-size(phone-only){
            height: 25rem;
            h1{
                color: $color-secondary;
            }
        }
    }
    &__form{
        width: 48%;
        height: auto;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $color-primary;
        border-radius: 4px;
        padding-top: 2rem;
        @include for-size(phone-only){
            width: 100%;
            float: none;
        }
        &-header{
            text-align: center;
            @include for-size(phone-only){
                font-size: 250%;                
            }
        }
    }

    &__address{
        width: 48%;
        height: auto;
        float: right;
        margin-left: 3rem;
        padding-top: 2rem;
        border-radius: 4px;
        background-color: $color-primary;

        @include for-size(phone-only){
            width: 100%;
            float: none;
            margin-left: 0rem;
            margin-top: 4rem;
        }

        &-header{
            text-align: center;
            @include for-size(phone-only){
                font-size: 250%;      
                background-color: $color-primary;          
            }
        }
        &-box{
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-secondary; 
            margin-left: 4rem;
            font-size: 400%;
            font-family: inherit;
            @include for-size(phone-only){
                font-size: 200%;     
                margin-left: 0rem;       
                background-color: $color-primary;    
            }
            ul{
                li{
                    padding: 5rem 0;
                    display: block;
                    @include for-size(phone-only){
                        padding: 2rem 0;                
                    }
                    i{
                        margin-right: 2rem;
                        font-size: 200%;
                        color: $color-tirtiary;
                        vertical-align: middle;
                    }   
                    a{
                        color: $color-secondary; 
                        &:hover{
                            color: $color-tirtiary;
                        }
                                           
                    }
                }
            }            
        }
    }
 }
 .map{

    grid-column: 2 / 12;
    grid-row: 16 / 18;

    margin-top: 10rem;

    @include for-size(phone-only){
        display: block;
        grid-row: 7;
        grid-column: 1;
        background-color: $color-primary;
        margin-top: 4rem;
    }

    &__header{
        margin: 3rem 0;
        margin-left: 5rem;
        @include for-size(phone-only){
            width: 100%;
            margin-left: 0rem;
            margin-bottom: 1.7rem;
            font-size: 250%;      
            text-align: center;
            background-color: $color-primary;          
        }
    }
    iframe{
        box-shadow: $shadow;

        @include for-size(phone-only){
            height: 150%;
        }
    }

 }