.form{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 70%;

    *:not(:nth-child(odd)){
        padding: 2rem;
        margin: 1.5rem 0;
        border: none;
        outline: none;           
    }

    input, textarea{
        border-radius: 5px;
        box-shadow: $shadow;
    }
    label{
        font-size: 1.6rem;
    }
    textarea{
        height: 20rem;
        width: 100%;
        resize: none;
    }

    .btn{
        font-size: 130%;
        margin-left: auto;
        margin-right: 2rem;
        margin-top: 1rem;
        padding: .9rem .5rem;
    }
}