.form{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 70%;
    @include for-size(phone-only){
        width: 100%;
        background-color: $color-primary;
    }
    .reqval{
        text-align: right;
        color: #d9534f;
        height: .5rem;
        width: 100%;
    }
    .success{
        color: #5cb85c;
        height: .5rem;
        width: 100%;
    }
    .fail{
        color: #d9534f;
        height: .5rem;
        width: 100%;
    }
    input, textarea{
        padding: 2rem;
        margin: 1.5rem 0;        
    }

    input, textarea{
        border-radius: 5px;
        box-shadow: $shadow;
        background-color: $color-primary-light;
        &:focus{
            border: none;
            outline: none;
        }
    }
    label{
        font-size: 1.6rem;
    }
    textarea{
        height: 20rem;
        width: 100%;
        resize: none;
    }

    .btn{
        font-size: 130%;
        margin-left: auto;
        margin-right: 2rem;
        margin-top: 1rem;
        padding: .9rem .5rem;
        @include for-size(phone-only){
            padding: 1rem;
        }
    }
}