
//GRID

.container{
    display: grid;
    grid-template-columns: 1fr repeat(10, minmax(min-content, 14rem)) 1fr;
    grid-template-rows: 15rem repeat(15, min-content) 20rem;

    @include for-size(phone-only){
        grid-template-columns: 100vw;
        grid-auto-rows: min-content;
    }
} 