//HEADER

.header{
    grid-column: 1 / -1;
    grid-row: 1;

    display: grid;

    grid-template-columns: minmax(min-content, 140px) 1fr 140px;
    grid-template-rows: 15rem;

    align-items: center;
    justify-items: center;


    background: lighten($color-secondary, 5%) repeat;
    box-shadow: inset 0 -40px 40px -20px  $shadow-bottom;

    @include ie-fix {
        width: 100vw;
    }
    &__photo{
        grid-column: 1;
        
        &-logo{

            display: block;
            background: url("../img/logo.png") no-repeat center center;
            width: 20rem;
            height: 15rem;
            background-size: 85%;
            background-position: 2rem -1.5rem;
        }
    }
    &__mindetails  {
        grid-column: 2;
        height: min-content;
        display: flex;

        align-items: center;

        &-left,
        &-right{
            display: block;
            width: 28rem;
            height: 100%;
        }
        &-left{
            text-align: right;

            .left-shape{
                shape-outside: circle(50%);
                clip-path: circle(50%);
                width: 6rem;
                height: 6rem;
                float: right;
            }
        }
        &-center{

            display: block;
            width: 7rem;
            height: auto;

            .center-img{
                display: block;
                width: 100%;
                height: auto;
                border-radius: 50%;
                border: .3rem solid $color-border-img;
                box-sizing: content-box;
            }
        }
        &-right{

            .right-shape{
                shape-outside: circle(50%);
                clip-path: circle(50%);
                width: 6rem;
                height: 6rem;
                float: left;
            }
        }
    }
}
