
//MIXIN


//fix fot IE

@mixin ie-fix {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
        @content
    }
};
//animation mixin

@mixin animation($name, $width-1 ,$width-2) {
    @keyframes #{$name}{
        0%{width: $width-1; background-color: $color-tirtiary;}
      
      100%{width: $width-2; background-color: $color-tirtiary;}
    }
}

@mixin table-data-animation {
    
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        opacity: .3;
}

// media mixin

@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (max-width: 1400px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }