//Portfolio

.portfolio{
    
    grid-column: 2 / span 10;
    grid-row: 12;

    @include for-size(phone-only){
        grid-column: 1;
        grid-row: 3;
        display: block;
    }

    &__header{

        height: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include for-size(phone-only){
            height: 25rem;
            h1{
                color: $color-secondary;
            }
        }
    }
    &__details,
    &__education,
    &__skills,
    &__tools,
    &__interests{
        background-color: $color-primary;
        box-shadow: $shadow;
        border-radius: .5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: row;        
        margin: 5rem 0;
        @include for-size(phone-only){
           margin: 0 0 2rem 0;
           flex-direction: column;
        }
        &-table{
             
            border-spacing: 0 1rem;
            text-transform: uppercase;
            
            th{
                font-size: 200%;
                text-align: left;
                width: 15rem;
                padding: 1rem;
                background-color: #fff;
                text-align: center;
                transition: all .2s;
                &:hover{
                    transform: scale(1.1);
                    box-shadow: $shadow;
                    @include for-size(phone-only){
                        transition: none;
                        transform: none;
                        box-shadow: none;
                    }
                }
                
            }
            td{
                font-size: 140%;
                padding: 1rem;
                background-color: $color-primary-light;
                width: 25rem;
                text-align: right;
                transition: all .2s;
                @include for-size(phone-only){
                    padding-right: 2rem;
                }
                &:hover{
                    transform: scale(1.1);
                    box-shadow: $shadow;
                    @include for-size(phone-only){
                        transition: none;
                        transform: none;
                        box-shadow: none;

                    }
                }                
            }
            tr{
                padding: 1rem;
            }
        }

        h2{
            margin-left: 4rem;
            width: 30rem;
            @include for-size(phone-only){
                font-size: 250%;
                margin-bottom: 2rem;
            }
        }
    }
    &__skills,
    &__tools{

        &-table{
            .html{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: html;
                        @include animation(html, 0rem, 25rem);                       
                    }
                }
            }
            .css{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name:  css;
                        @include animation(css, 0rem,  25rem);
                       
                    }
                }
            }
            .js{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: js;
                        @include animation(js, 0rem, 12.5rem);
                       
                    }
                }
            }
            .php{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: php;
                        @include animation(php, 0rem, 12.5rem);
                       
                    }
                }
            }
            .mysql{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: mysql;
                        @include animation(mysql, 0rem, 12.5rem);
                       
                    }
                }
            }
            .rwd{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: rwd;
                        @include animation(rwd, 0rem, 20rem);
                       
                    }
                }
            }
            .python{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: python;
                        @include animation(python, 0rem, 7.5rem);
                       
                    }
                }
            }
            .django{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: django;
                        @include animation(django, 0rem, 5rem);
                       
                    }
                }
            }
            .vscode{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: vscode;
                        @include animation(vscode, 0rem, 20rem);
                       
                    }
                }
            }
            .sass{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: sass;
                        @include animation(sass, 0rem, 25rem);
                       
                    }
                }
            }
            .phts{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: phts;
                        height: 3.7rem!important;
                        @include animation(phts, 0rem, 17.5rem);
                       
                    }
                }
            }
            .codepen{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: codepen;
                        @include animation(codepen, 0rem, 25rem);
                       
                    }
                }
            }
            .xampp{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: xampp;
                        @include animation(xampp, 0rem, 17.5rem);
                       
                    }
                }
            }
            .boot{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: boot;
                        @include animation(boot, 0rem, 20rem);
                       
                    }
                }
            }
            .ltr{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: ltr;
                        height: 3.7rem!important;
                        @include animation(ltr, 0rem, 25rem);
                       
                    }
                }
            }
            .devTool{
                &:hover{
                    position: relative;
                    &::before{
                        @include table-data-animation;
                        animation-name: devTool;
                        @include animation(devTool, 0rem, 25rem);
                       
                    }
                }
            }
        }   
    }
    &__tools{
        .smaller-font{
            font-size: 130%;
        }
    }

    &__interests{

        &-table{
    
            tr:nth-child(odd) td{
                background-color: #fff;
                @include for-size(phone-only){
                    text-align: left;
                    padding-left: 2rem;
                }
            }
            width: 25rem;
            margin-left: 1.5rem;
            @include for-size(phone-only){
                justify-self: center;
                align-self: center;
                width: 100%;
                margin-left: 0rem; 
                tr:nth-child(even) td{
                    padding-right: 2rem;
                }
            }
        }
    }
}
