
// paragraph for content section

.section-p{
    font-family: 'Montserrat-400-regular';
    font-weight: 400;
    font-size: 100%;
    text-align: left;
    letter-spacing: .1rem;
    line-height: 145%;

    &::first-letter{
        font-family: 'Montserrat-600-semibold';
        color: $color-primary-light;
        font-size: 200%;
    }
}

// paragraph for content header

.header-p{
    line-height: 1.6;
    letter-spacing: .16rem;
    font-size: 1rem;
    font-family: 'Montserrat-400-italic';
    font-weight: 400;
    font-style: italic;
    color: $color-primary;

    span{
        font-family: 'Montserrat-600-semibold';
        font-weight: 600;
        color:$color-primary-light;
    }
}
.lm{
    margin-left: 1rem;
}
h1,h2{
    font-family: 'Logo';
    font-weight: 400;
    
    letter-spacing: 4px;
}
h1{
    font-size: 900%;
    color: $color-primary-light;

}
h2{
    font-size: 400%;
    color: $color-secondary;
}
small{
    font-size: 150%;
    color: #dbdbdb;               
}
.social-1{
    font-family: 'social-icons-brands';
    color: #ffffff;
    transition: all .2s;
    &:hover{
        transform: scale(1.1);
    }
}
.social-2{
    font-family: 'social-icons-solid';                        
    font-size: inherit;
    color: #fff;
    transition: all .2s;
    &:hover{
        transform: scale(1.1);
    }
}
.social-3{
    font-family: 'social-icons-solid';
    color: #fff;
    transition: all .2s;
    &:hover{
        transform: scale(1.1);
    }
}
.social-4{
    font-family: 'social-icons-solid';
    color: #fff;           
    transition: all .2s;
    &:hover{
        transform: scale(1.1);
    }           
}